@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Reset */
*{ 
    margin: 0;
	padding: 0;
	border: 0;
}

/*
    Palete
    >> #444343 Dark Color
    >> #F5F5F5 Light color
    >> #D2CFCE Grey Color
    >> #C75555 Red Color

    Font
    >> Roboto - Thin w100, Light w300, Regular w400, Medium w500, Bold w700
*/
:root{
    --main-primary-color: #444343;
    --main-light-color: #F5F5F5;
    --main-grey-color: #D2CFCE;
    --main-red-color: #C75555;

    --main-font: 'Roboto', sans-serif;
}

h1 {
  font-family: var(--main-font);
  font-size: 52px;
  font-weight: 300;
}

h2 {
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 500;
}

h4 {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 500;
}

p {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

a {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;  
}

body {
  background-color: var(--main-primary-color);
}

input{
	margin: 0 auto;
    padding: 8px;
    background-color: transparent;
	border: 2px solid var(--main-grey-color);
	border-radius: 50px; 
}

/*
    Custom Class
*/

/* Primary Class */
 .container {
     display: flex;
     width: 80%;
     margin: 0 auto;
 }   

 /* 
    Header Class 
 */
 .navHeader{
    justify-content: space-between;

}

 .navHeader .navMenu{
    text-align: right;
}

 .navMenu{
    margin-top: 32px;
    margin-bottom: 16px;
    display: inline-block;
}    

 .navMenu a, input{
   text-decoration: none;
   color: var(--main-grey-color);
   margin-left: 32px;
 }   

 .navMenu .active a, a:hover {
    border-bottom: 2px solid var(--main-light-color);
    color: var(--main-light-color);
    padding-bottom: 8px;
 }


/*   
    hero Section
*/

.heroHeader {
    justify-content: space-around;
}

.heroBox {
    width: 100%; 
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.item-1{
    width: 10%; 
    height: 500px;
    position: relative;
}

.item-2{
    width: 40%; 
    margin-top: 40px;
}

.item-3{
    width: 40%; 
    height: 500px;
}

.titleHero {
    color: var(--main-grey-color);
}

.descHero {
    width: 80%;
    margin-top: 72px;
    margin-left: 8px;
    border-left: 2px solid var(--main-grey-color);
    padding-left: 32px;

    color: var(--main-grey-color);
}

.btnHero {
    margin-top: 64px;
    margin-left: 72px;
}

.btn-cta-primary{
    position: absolute;
    width: 88px; 
    border-bottom: 2px solid var(--main-red-color);
    color: var(--main-light-color);
    padding-bottom: 8px;
    font-weight: 700;  
 }

 .btn-cta-primary:hover {
    border-bottom: 2px solid var(--main-light-color);
    color: var(--main-light-color);
    padding-bottom: 8px;
 }


 #camera {
    width: 25%;
    margin-top: 120px;
    position: absolute;
 }

 #titleCamera {
    font-family: var(--main-font);
    color: var(--main-grey-color);
    float: right;
    margin-right: -124px;
    font-size: calc(160px + (8/1200) * 100 * 1vw);
    font-weight: 100;
 }

 #registro {
    position: absolute;
    bottom: 64px;
    transform: rotate(270deg);
    color: var(--main-grey-color);
 }


.productsContainer{
    background-color: var(--main-light-color);
    width: 100%;
}

 .productsItem{
    width: 80%;
    margin: 0 auto;
 }

 .productsBox {
    margin-top: 32px;

    display: flex;
    justify-content: space-between;
 }

 .itemSpec{
     width: 30%;
     height: 150px;
     color: var(--main-primary-color);
 }

 .itemSpecTitle{
   margin-bottom: 24px;
}

.lensesContainer{
    display: flex;
    justify-content: space-between;

    margin-top: 32px;
    height: 500px;
}

