@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Reset */
*{ 
    margin: 0;
	padding: 0;
	border: 0;
}

body {
    background-color: var(--main-primary-color);
}
  

/*
    Paleta
    >> #444343 Dark Color
    >> #F5F5F5 Light color
    >> #D2CFCE Grey Color
    >> #C75555 Red Color

    Fonte
    >> Roboto - Thin w100, Light w300, Regular w400, Medium w500, Bold w700

*/
:root{
    --main-primary-color: #444343;
    --main-light-color: #F5F5F5;
    --main-grey-color: #D2CFCE;
    --main-red-color: #C75555;

    --main-font: 'Roboto', sans-serif;
}

.grey-text{
    color: var(--main-grey-color);
}
.primary-text{
    color: var(--main-primary-color);
}


/*
   Regras de Texto 
*/

h1 {
  font-family: var(--main-font);
  font-size: 52px;
  font-weight: 300;
}

h2 {
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 500;
}

h4 {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 500;
}

p {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

ul{
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 24px;
    list-style-type: none
}

a {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;  
}

input{
	margin: 0 auto;
    padding: 8px;
    background-color: transparent;
	border: 2px solid var(--main-grey-color);
	border-radius: 50px; 
}

.title-secondary{
    margin-bottom: 24px;
}
.text-left{
    text-align: left;
}



/*
  >> Regras de Espacamento Vertical
        `Utilizei a Regra do 8 para personalizar espacamentos
*/

.espacamento-vertical-1{
    height: 24px;
}
.espacamento-vertical-2{
    height: 32px;
}
.espacamento-vertical-3{
    height: 64px;
}


/*
  >> Regras de Coluna 

    .coluna-3 para quando quiser divir em 3 ou quando quiser usar apenas 30% do espaco
    .coluna-7 para quando quiser usar 70% do espaco
    .coluna-10 para quando quiser usar 100% do espaco

*/
.coluna-1 {
    width: 10%;
}

.coluna-3 {
    width: 30%;
}

.coluna-4{
    width: 40%;
}

.coluna-6{
    width: 60%;
}

.coluna-7{
    width: 70%;
}

.coluna-10{
    width: 100%;
}


/*
    Custom Class
*/

/* Primary Class */
.container {
     display: flex;
     width: 80%;
     margin: 0 auto;
}   

#lightContainer{
    background-color: var(--main-light-color);
}

.space-between{
    display: flex;
    justify-content: space-between
}
  

 /* 
    Header Class 
 */
 .navHeader{
    justify-content: space-between;
}

 .navHeader .navMenu{
    text-align: right;
}

 .navMenu{
    margin-top: 32px;
    margin-bottom: 16px;
    display: inline-block;
}    

 .navMenu a, input{
   text-decoration: none;
   color: var(--main-grey-color);
   margin-left: 32px;
 }   

 .navMenu .active a, .option:hover {
    border-bottom: 2px solid var(--main-light-color);
    color: var(--main-light-color);
    padding-bottom: 8px;
 }


/*   
    hero Section

    1 Ajustes do header
    2 Herobox
    2.1 Ajustes de Itens do Herobox
    2.2 Configuracao do item 1
    2.3 Configuracoes do item 2
    2.4 Configuracoes do item 3

*/

.heroHeader {
    justify-content: space-around;
}

.heroBox {
    height: 500px;
}

#item-1{
    width: 10%; 
    position: relative;
}
#item-2 {
    width: 50%; 
    margin-top: 40px;
}
#item-3 {
    width: 40%; 
}

 /* Item 1 */
#registro {
    font-family: var(--main-font);
    display: inline-block;
    bottom: 0;
    padding: 0;
    font-size: 0.8rem;
    white-space: nowrap;
    transform: rotate(-90deg);
    position: relative;
 }

 /* Item 2 */
.descHero {
    width: 80%;
    margin-top: 72px;
    margin-left: 8px;
    border-left: 2px solid var(--main-grey-color);
    padding-left: 32px;
}


#btnHero {
    margin-top: 64px;
    margin-left: 72px;
}
.btn-cta-primary{
    position: absolute;
    width: 88px; 
    border-bottom: 2px solid var(--main-red-color);
    color: var(--main-light-color);
    padding-bottom: 8px;
    font-weight: 700;  
 }
 .btn-cta-primary:hover {
    border-bottom: 2px solid var(--main-light-color);
    color: var(--main-light-color);
    padding-bottom: 8px;
 }

 .menumobile{display: none;}

#specsTitle{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 2em;
    display: inline-block;
    bottom: 0;
    padding: 0;
    transform: rotate(-90deg);
    position: relative;
    bottom: -100px;
    left: -100px;
}

#logo{
    height: 90px;
    margin-bottom: 8px;
    margin-top: 16px;
}

.titleImg{
    display: none;
 }

#text-lenses {margin-left: 64px;}
#text-double {margin-left: 32px;}


@media screen and (max-width: 1024px) {
    #camera {
        width: 30%;
        margin-top: 100px;
        position: absolute;
     }

    .descHero {
        width: 90%;
        margin-top: 56px;
        margin-left: 8px;
        border-left: 2px solid var(--main-grey-color);
        padding-left: 24px;
    }
    
    #titleCamera {
        font-family: var(--main-font);
        color: var(--main-grey-color);
        float: right;
        margin-right: -100px;
        font-size: 8em;
        font-weight: 100;
     }

     .heroBox {
        height: 450px;
    } 

    #registro {
        bottom: -300px;
     }

    .pag-imgs{
       max-height: 100%;
       max-width: 100%; 
    }

    #specsTitle{
        font-size: 2em;
        transform: rotate(-90deg);
        bottom: -150px;
        left: -100px;
    }
 }


@media screen and (min-width: 1025px) and (max-width: 1444px) {
    #camera {
        width: 30%;
        margin-top: 120px;
        position: absolute;
     }
      /* Item 3 */
    #titleCamera {
        font-family: var(--main-font);
        color: var(--main-grey-color);
        float: right;
        margin-right: -124px;
        font-size: 10em;
        font-weight: 100;
    }
    #registro {
        bottom: -350px;
     }

    .pag-imgs{
       max-height: 80%;
       max-width: 100%; 
    }

    #specsTitle{
        font-size: 3em;
        transform: rotate(-90deg);
        bottom: -100px;
        left: -100px;
    }

     
 }


